.paginator {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style-type: none;
    margin-top: 1rem;
  }
  
  .page-link {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    font-size: var(--chakra-fontSizes-sm);
    border-radius: 7px;
    padding: 0.1rem 1rem;
    border: var(--chakra-colors-chakra-border-color) 1.5px solid;
    cursor: pointer;
  }

  .page-item {
    width: 50;
    height: 50;
  }

  .page-link:hover {
    background-color: var(--chakra-colors-blue-100);
  }

  
  .paginator> li.previous a, li.next a, li.break a {
    border-color: transparent;
  }
  
  .paginator li.active a {
    background-color: var(--chakra-colors-blue-400);
    border-color: transparent;
    color: white;
    min-width: 32px;
  }
  
  .paginator li.disabled a {
    color: var(--chakra-colors-gray-200);
    border-color: var(--chakra-colors-gray-200);
    background-color: white;
  }
  
  .paginator li.disable,
  li.disabled a {
    cursor: default;
  }